.page {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Horizontally center everything */
  gap: 40px;            /* Space between sections */
  padding: 20px;
}



.results {
  display: flex;
  justify-content: center;   /* centers horizontally */
  flex-wrap: wrap;           /* wraps cards on smaller screens */
  gap: 20px;                 /* optional spacing between cards */
  padding: 20px;             /* optional padding */
}










.search-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 20px; /* space between buttons */
  margin-bottom: 20px;
}


.search-row {
  width: 300px;
  margin: 10px auto;
  gap: 1000px;


}

.search-button-selection {
  display: block;
  margin: auto;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}
.search-button{
  font-size: 10px;
   white-space: nowrap;
}

.search-input{
  gap: 10px;
  align-items: center;
}
.search-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}






.business-card {
  width: 280px;
  background-color: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
  align-items: center;
}



.business-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: inline;
}

.business-info {
  padding: 16px;
  color: #333;
}

.business-name {
  font-size: 1.1rem;
  margin: 0 0 8px;
  font-weight: bold;
}

.business-address {
  font-size: 0.85rem;
  color: #555;
  margin: 0 0 12px;
  line-height: 1.4;
}

.business-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
}

.category {
  font-weight: bold;
  
  text-transform: uppercase;
  font-size: 0.9rem;
}

.meta {
  text-align: right;
  font-size: 0.8rem;
}

.rating {
  color: #8a6e00;
  font-weight: bold;
}

.reviews {
  color: #777;
}


.card-row{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}
