
.search-selection {
  display: flex;
}

.radio-group {
  display: flex;
  gap: 20px; /* space between buttons */
}

.search-button-selection {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-input{
  gap: 10px;
  align-items: center;
}
.search-card{
  align-items: center;
  gap: 10px;
}

.business-card {
  width: 280px;
  background-color: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  margin: 20px;
}

.business-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: inline;
}

.business-info {
  padding: 16px;
  color: #333;
}

.business-name {
  font-size: 1.1rem;
  margin: 0 0 8px;
  font-weight: bold;
}

.business-address {
  font-size: 0.85rem;
  color: #555;
  margin: 0 0 12px;
  line-height: 1.4;
}

.business-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
}

.category {
  font-weight: bold;
  
  text-transform: uppercase;
  font-size: 0.9rem;
}

.meta {
  text-align: right;
  font-size: 0.8rem;
}

.rating {
  color: #8a6e00;
  font-weight: bold;
}

.reviews {
  color: #777;
}


.card-row{
  display: flex;
  flex-direction: row;
}
